.container {
	width: 100%;
	min-height: 100vh;
	// background-color: red;
	display: flex;
	height: fit-content;
	&::-webkit-scrollbar{
		display: none;
	}
	.test{
		height: 200vh;
		background: linear-gradient(#111, #fff);
		// z-index: 200;
		width: 100%;
	}
	.main {
		position: absolute;
		left: 25%;
		top: 10vh;
		width: 75%;
		z-index: 2;
		background-color: #f2f2f2;
		min-height: 90vh;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-y: scroll;
		flex-direction: column;
		&::-webkit-scrollbar{
			display: none;
		}
	}
}

@media only screen and (max-width: 750px) {
	.container {
		margin-right: -10px;
		.main {
			position: relative;
			left: 0px;
			top: 70px;
			width: 100%;
			min-height: calc(100% - 70px);
			// overflow-y: scroll;
		}
	}
}
