@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Reggae+One&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
  /* color:#252525 */
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
  transition: 0.3 background ease-in-out;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.3 background ease-in-out;
}
h1,h2,h3,h4,h5,h6,p,article{
  color: #252525;
}
.loading_screen{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--title_font);
}
:root{
  --content_font: 'Raleway', sans-serif;
  --japanese_font: 'Sawarabi Gothic', sans-serif;
  --title_font: 'Reggae One', cursive;
  --parah_font:'Noto Sans', sans-serif;
  --black: #444;
  --title_black: #252525;
  --grey: #959595;
  --orange :#FF7D39;
}

@media only screen and (max-width:750px){
  html{
    height: 100%;
    /* overflow-y: hidden; */
  }
}
