@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Reggae+One&family=Sawarabi+Gothic&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container_global{
  width: 100%;
  min-height: 100vh;
}
:root{
  --content_font: 'Raleway', sans-serif;
  --japanese_font: 'Sawarabi Gothic', sans-serif;
  --title_font: 'Reggae One', cursive;
  --black: #444;
  --title_black: #252525;
  --grey: #959595;
  --orange :#FF7D39;
}
