.home_container {
	background-color: #f2f2f2;
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	label{
		font-family: var(--content_font);
		font-size: small;
		font-weight: bold;
	}
	select{
		background-color: #f2f2f2;
		margin-bottom: 10px;
	}
	.kanji_card, .meaning_card {
		min-width: 60%;
        min-height: 60%;
		height: fit-content;
        width: fit-content;
		background: #e5e5e5;
		border-radius: 10px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		padding: 20px;
		h1 {
			font-family: var(--japanese_font);
			color: var(--black);
			font-size: 48px;
		}
	}
    .meaning_card{
		h3, p{
			// margin: 10px auto;
			font-family: var(--content_font);
		}
		h3{
			margin: 10px auto;
		}
    }
	.card_btns {
		margin: 15px auto;
		button {
			text-transform: none;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
			color: var(--black);
			border: 1.5px solid var(--black);
			margin: 10px;

            p{
                white-space: nowrap;
            }
		}
	}
}
